* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  /* container-type: inline-size; */
}

h1 {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin: 50px auto;
}

h2 {
  color: #cc0f1e;
  font-size: 1.8rem;
  letter-spacing: 5px;
  margin: 50px auto;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 1.4rem;
  letter-spacing: 3px;
  margin: 20px;
  text-align: center;
}

h4 {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin: 7px;
  font-weight: 400;
}
h5 {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 0.7rem;
  letter-spacing: 3px;
  margin: 7px;
  font-weight: 200;
}

h6 {
  font-family: "Inter", sans-serif;
  color: #15104f;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 7px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  text-decoration: none;
  list-style: none;
}

.list4 {
  list-style: none;
  margin: 11px;
  padding-top: 4%;
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 1.8rem;
  letter-spacing: 5px;
  padding-bottom: 17%;
  position: relative;
}

.list4 li {
  margin-bottom: 21px; /* Juster dette efter behov */
  position: relative;
}

.list4 li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #cc0f1e;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.list4 li:hover::after {
  width: 100%;
}

.copenfinds {
  margin: 0.7%;
}

.category {
  padding-top: 4%;
  margin-left: -2%;
  font-size: 3.5rem;
}

.forskellige_caregorys {
  font-family: "Inter", sans-serif;
  color: #cc0f1e;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 23px auto;
  text-align: center;

  display: block; /* Dette sikrer, at hvert link er et blokelement */
  margin-bottom: 10px; /* Juster dette efter behov */
  display: flex;
  flex-direction: column; /* Dette sikrer, at elementerne står under hinanden */
  text-align: center;
  font-weight: 500;
}

.streg_underh3 {
  border-top: 0.5px solid #cc0f1e;
  width: 20%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 39%;
}

.musseliste {
  display: inline-block; /* Eller brug "display: inline;" */
  margin-right: 10px; /* Juster afstanden mellem linkene efter behov */
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin-left: 10px;
}

.minibillede {
  width: 85%;
}

.name {
  font-family: "Bebas Neue", sans-serif;
  color: #15104f;
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin: 6px;
  font-weight: 200;
  padding-top: 1%;
}

.brandname {
  padding-top: 3%;
  font-weight: 300;
}

.subcategory,
.gender,
.sammensat {
  letter-spacing: 2px;
  padding-top: 0.5%;
  font-family: "Inter", sans-serif;
  color: #15104f;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 300;
}
.sammensat {
  margin: 0%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.pris_tekst,
.data_price {
  font-weight: bolder;
  color: #15104f;
  font-size: 0.8rem;
  font-weight: 300;
}

.udsalg_tekst,
.data_discount {
  color: #cc0f1e;
  font-size: 0.8rem;
}

.read_more {
  padding-top: 4%;
}
.read_more_tekst {
  color: #15104f;
  font-weight: 300;
}

.line {
  border-top: 0.5px solid #000f52;
  width: 70%;
  margin-left: 1.6%;
}

.product {
  position: relative;
  padding-top: 8%;
}

.product .name {
  position: relative;
  padding-bottom: 3%;
}

.product .name::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #15104f;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.product .name:hover::after {
  width: 80%;
  margin-left: 1.5%;
}

.product .read_more {
  position: relative;
}

.product .read_more::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #15104f;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.product .read_more:hover::after {
  width: 28%;
  margin-left: 1.5%;
}

.stortbillede {
  width: 80%;
}

.product {
  position: relative;
}

.product .name {
  position: relative;
}

.product .name::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #15104f;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.product .name:hover::after {
  width: 80%;
  margin: 0%;
}

.pris,
.udsalg,
.sub_category {
  display: flex;
}

.soldout {
  position: absolute;
  top: 30px;
  left: 0;
  background: #dce8ff;
  width: 85%;
  padding: 0.6rem;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #15104f;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-align: end;
  font-weight: 300;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}
